/* Стили для меню со списком статусов заказов */

/* Основной контейнер */
.dropdown-status-container {
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* Выпадающее меню */
.dropdown-status-menu {
    position: absolute;
    right: 0;
    background-color: white; /* Цвет заднего фона */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 0px; /* С округленными углами */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Тень для меню */
    z-index: 1; /* Размещение поверх других элементов */
    max-height: 250px; /* Максимальная высота меню */
    overflow-y: auto; /* Прокрутка по вертикали, если элементы не умещаются */
    width: 250px; /* Ширина меню */
    margin-top: 15px; /* Отступ меню */
    border-radius: 5px;
}

/* Стилизация скроллбара */
.dropdown-status-menu::-webkit-scrollbar {
    width: 12px;
}

.dropdown-status-menu::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 8px; 
    border: 3px solid white;
}

/* Шапка меню */
.dropdown-status-header h4 {
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

/* Кнопка сброса */
.dropdown-status-reset {
    display: flex; 
    justify-content: left; 
    align-items: center; 
    background-color: transparent;
    color: black; 
    font-size: 15px;
    padding: 8px 9.5px;
    margin-left: 9px;
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    width: 93%;
    /* TODO скролл */
}

.dropdown-status-reset:hover {
    background-color: #f1f1f1;
}

/* Иконка */
.dropdown-status-reset-icon {
    margin-right: 10px;
    width: 21px;
    height: 21px;
    object-fit: contain; /* Пропорция формы */
}

/* Разделительная линия */
.dropdown-status-divider {
    border: none; /* Убираем стандартный стиль рамки */
    border-top: 1px solid black; /* Добавляем верхнюю границу */
    margin: 10px 10px; /* Отступы сверху и снизу */
}

/* Элементы статусов */
.dropdown-status-item {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Отступы у опций */
    cursor: pointer;
    text-align: left; /* Выровнять текст влево */
    word-wrap: break-word; /* Перенос слов в опциях */
    max-width: 200px; /* Максимальная ширина для опции */
}

.dropdown-status-items input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    accent-color: #74b9ff;
}

.dropdown-status-item:hover {
    background-color: #f1f1f1;
}